<% title "Dashboard" %>

<% javascript_tag do %>
  Event.observe(window, 'load',
  function() {
  $('people').down('.person').fire("active:hover")
  }
  );
<% end %>

<div id="calculations_wrapper">
  <h1>Event Jar</h1>
  <% form_tag dashboard_stats_path(@user, :js), {:method => :get, :id => "calc_form"} do %>
    <ul id="calculations" class="target-normal">

    </ul>
  <% end %>
  <p>You should invite people <span id="invite_time">12</span> minutes early.</p>
  <p>Then you will have a <span id="invite_probability">0</span>% chance of all your friends arriving on time.</p>
</div>

<%= drop_receiving_element("calculations", {:onDrop => "move_person", :hoverclass => "target-hovering"}) %>

<div id="people_container">

  <%= text_field :person, :name %>
  <%= observe_field :person_name, :url => people_path(@user, :js), :with => "'search=' + $('person_name').value + '&' + $('calc_form').serialize()", :frequency => 1, :method => :get %>
  <ul id="people">
    <%= render :partial => "people/person", :collection => @user.people %>
  </ul>
  <div id="dvaddpersoncontainer">
    <h2>Add New Friend</h2>
    <%= link_to_remote image_tag("icons/plus.png", :alt => "Add a friend!"), :update => "add_friend", :url => new_person_path(@user), :method => "get" %>
    <div id="add_friend">
    </div>
  </div>
  <p class="note">Tip: Drag people's names into the Jar on the left for group statistics.</p>
</div>
<%= drop_receiving_element("people", {:onDrop => "move_person", :hoverclass => "target-hovering"}) %>

