<div class="dvfieldscontainer">
<dl>
  <dt><%= f.label :name, "Event Name" %></dt>
  <dd><%= f.text_field :name %></dd>
  <dt><%= f.label :time_difference, "Minutes late (negative for early)" %></dt>
  <dd><%= f.text_field :time_difference %></dd>
</dl>

<p><%= remove_child_link image_tag("icons/minus.png", :alt => "Remove this data point"), f %></p>
</div>
