<div class="fields">
  <p>
    <%= f.label :name, "Data Point" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :expected_time %>
    <%= f.calendar_date_select :expected_time, :time => true  %>
  </p>
  <p>
    <%= f.label :actual_time %>
    <%= f.calendar_date_select :actual_time, :time => true  %>
  </p>

  -<%= remove_child_link "remove", f %>
  <br /><br />
</div>

