<div class="dvfieldscontainer">
<dl>
  <dt><%= f.label :name, "Data Point" %></dt>
  <dd><%= f.text_field :name %></dd>
  <dt><%= f.label :expected_time %></dt>
  <dd><%= f.calendar_date_select :expected_time, :time => true  %></dd>
  <dt><%= f.label :actual_time %></dt>
  <dd><%= f.calendar_date_select :actual_time, :time => true  %></dd>
</dl>

<p><%= remove_child_link image_tag("icons/minus.png", :alt => "Remove this data point"), f %></p>
</div>
