<li id="person_<%= person.id %>" class="person">
  <div class="utils">
    <%= link_to image_tag("icons/report-paper.png", :alt => "Edit person"), edit_person_path(@user, person) %>
    <%= link_to_function image_tag("icons/cross.png", :alt => "Delete this person"), "$(this).up('li.person').down('.confirm_delete').toggle(); return false;" %>
    <%= link_to_function image_tag("icons/plus.png", :alt => "Add person to calculations"), "move_person($(this).up('li.person'), $('calculations')); return false;" %>
  </div>
  <div class="calc-utils">
    <%= link_to_function image_tag("icons/minus.png", :alt => "Remove person from calculations"), "move_person($(this).up('li.person'), $('people')); return false;" %>
  </div>
  <%= person.name %>
  <%= draggable_element("person_" + person.id.to_s, :revert => true) %>
  <% javascript_tag do %>
    $('person_<%= person.id %>').observe('mouseover', function(event){respond_to_hover(event, <%= person.id %>)});
    $('person_<%= person.id %>').observe('active:hover', function(event){respond_to_hover(event, <%= person.id %>)});
    points[<%= person.id %>] = [<%= person.chart_points %>];
  <% end %>
  <div class="person_stat">
    <div id="graph_box_<%= person.id %>" style="width:266px; height:100px; margin: 12px auto 0; background-color: white; border: 1px solid #938A82;">
    </div>
    <p><%= person.notes %></p>
    <p>Average Tardiness: <%= person.avg %></p>
    <p>Tardiness Standard Deviation: <%= person.stddev %></p>
  </div>
  <%= hidden_field :people, "", {:id => "", :value => person.id} %>
  <div class="confirm_delete" style="display:none;">
    <p>
      Are you sure?
      <%= link_to_function "no", "$(this).up('li.person').down('.confirm_delete').toggle(); return false;" %>
      <%= link_to_remote "delete", :url => person_path(@user, person, :js), :method => :delete, :success => "$('person_" + person.id.to_s + "').remove()" %>
    </p>
  </div>
</li>
