<li id="person_<%= person.id %>" class="person">
  <div class="utils">
    <%= link_to "edit", edit_person_path(@user, person) %>
    <%= link_to_function "delete", "$(this).up('li.person').down('.confirm_delete').toggle(); return false;" %>
    <%= link_to_function "add", "move_person($(this).up('li.person'), $('calculations')); return false;" %>
  </div>
  <%= person.name %>
  <%= draggable_element("person_" + person.id.to_s, :revert => true) %>
  <% javascript_tag do %>
    $('person_<%= person.id %>').observe('mouseover', respond_to_hover);
  <% end %>
  <div class="person_stat">
    <p><%= person.name %></p>
    <p><%= person.notes %></p>
  </div>
  <%= hidden_field :people, "", {:id => "", :value => person.id} %>
  <div class="confirm_delete" style="display:none;">
    <p>
      Are you sure?
      <%= link_to_function "no", "$(this).up('li.person').down('.confirm_delete').toggle(); return false;" %>
      <%= link_to_remote "delete", :url => person_path(@user, person, :js), :method => :delete, :success => "$('person_" + person.id.to_s + "').remove()" %>
    </p>
  </div>
</li>
