<li id="person_<%= person.id %>" class="person">
  <div class="utils">
    <%= link_to "edit" %>
    <%= link_to "delete" %>
  </div>
  <%= person.name %>
  <%= draggable_element("person_" + person.id.to_s, :revert => true) %>
  <% javascript_tag do %>
    $('person_<%= person.id %>').observe('mouseover', respond_to_hover);
  <% end %>
  <div class="person_stat">
    <p><%= person.name %></p>
    <p><%= person.notes %></p>
  </div>
  <%= hidden_field :people, "", {:value => person.id} %>
</li>
