<% title "New person" %>

<h2>Add New Friend</h2>

<% form_for @person do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>

  <h2>Data Points</h2>
  <div id="dvdatacontainer">
    <% f.fields_for :data_points do |data_point_form| %>
      <%= render :partial => 'data_point', :locals => { :f => data_point_form } %>
    <% end %>
    <p><%= add_child_link image_tag("icons/plus.png", :alt => "Add a data point"), f, :data_points %></p>
  </div>

  <%= f.submit "Add Friend" %>
<% end %>
