<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>We Know You Are Late - <%= yield(:title) || "Home" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<%= stylesheet_tag "application", {:media => "screen"} %>
<%= stylesheet_tag "dashboard", {:media => "screen"} %>
<%= javascript_include_tag :defaults %>

</head>
<body>
<div id="dvmaincontainer">
  <div id="dvtopcontainer">
    <div id="dvlogincontainer">
    </div>
    <div id="dvlogocontainer">
      <h1>
        <span class="lvl1"><%= link_to "We Know", root_path %></span>
        <span class="lvl2"><%= link_to "You Are", root_path %></span>
        <span class="lvl3"><%= link_to "Late", root_path %></span>
      </h1>
    </div>
    <div id="dvnavicontainer">
      <%= image_tag "navi_left.jpg" %>
      <div id="tabs">
        <ul>
          <% if current_user %>
            <li><%= link_to "Settings", edit_user_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
      <%= image_tag "navi_right.jpg" %>
    </div>
  </div>

  <div id="dvbodycontainer">
    <div id="dvbannerbgcontainer">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>
    <div id="dvmainpanel"><%= yield %></div>
  </div>
  <div id="dvfootercontainer">
    <p>
      <span class="designers">
        <a href="http://www.studio7designs.com">Design based off Eco Web Design by Studio7designs</a>
      </span>
      <span>Copyright &#169; 2009 Sorry, I ate your bacon</span>
      <%= link_to "Home", root_path %>
      <% if current_user %>
        <%= link_to "Settings", edit_user_path %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </p>
  </div>
</div>
</body>
</html>
