<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>We Know You Are Late - <%= yield(:title) || "Home" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<%= stylesheet_tag "application", {:media => "screen"} %>

</head>
<body>
<div id="dvmaincontainer">
  <!--main div container starts here-->
  <div id="dvtopcontainer">
    <!-- top container starts here-->
    <div id="dvlogincontainer">
    </div>
    <div id="dvlogocontainer">
      <!-- logo container starts here-->
      <h1>
        <span class="lvl1"><%= link_to "We Know", root_path %></span>
        <span class="lvl2"><%= link_to "You Are", root_path %></span>
        <span class="lvl3"><%= link_to "Late", root_path %></span>
      </h1>
      <!-- logo container ends here-->
    </div>
    <div id="dvnavicontainer">
      <!-- navogation div starts here-->
      <img src="images/navi_left.jpg" alt="" />
      <div id="tabs" >
        <ul>
          <li><%= link_to "Register", login_path %></li>
          <li><%= link_to "Login", login_path %></li>
        </ul>
      </div>
      <img src="images/navi_right.jpg" alt="" />
      <!-- navogation div ends here-->
    </div>
    <!-- top container ends here-->
  </div>

  <div id="dvbodycontainer">
    <!-- body div starts here-->
    <div id="dvbannerbgcontainer">
      <!-- banner bg div starts here-->
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <!-- banner bg div ends here-->
    </div>
    <div id="dvmainpanel"><%= yield %></div>
    <div id="dvleftpanel">
      <!-- left pannel div starts here-->
      <!-- left pannel div ends here-->
    </div>
    <div id="dvrightpanel">
      <!-- right panel div starts here-->
      <h1></h1>
      <div class="line"><img src="images/h_line.jpg" alt="" width="535" height="1" title="" /></div>
      <h1></h1>
      <!-- right panel div ends here-->
    </div>
    <!-- body div ends here-->
  </div>
  <div id="dvfootercontainer">
    <!-- footer div starts here-->
    <div id="foottop">
      <p>
        <span>Copyright &#169; 2009 Sorry, I ate your bacon</span>
        <%= link_to "Home", root_path %>
        <%= link_to "Login", login_path %>
        <span class="designers">
          <a href="http://www.studio7designs.com">Design based off Eco Web Design by Studio7designs</a>
        </span>
      </p>
    </div>
    <!-- footer div ends here-->
  </div>
  <!--main div container ends here-->
</div>
</body>
</html>
